html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #050122; 
}


body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.fundo-principal {
    position: relative;
    width: 100%;
    z-index: 1;
    transition: none;
}

.logo {
    position: absolute;
    top: 50px;
    right: 160px;
    z-index: 2;
    margin-left: 0;
}

.logo img {
    width: 460px;
}