html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #050122; 
}


body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.fundo-principal {
    position: relative;
    width: 100%;
    z-index: 1;
    transition: none;
}

.logo {
    position: absolute;
    top: 50px;
    right: 160px;
    z-index: 2;
    margin-left: 0;
}

.logo img {
    width: 460px;
}

 .section-trailer {
    margin-top: 120px;
    display: flex;
}

.box-info {
    display: flex;
    flex-direction: row; /* Coloca o vídeo ao lado do texto */
    align-items: flex-start; /* Alinha o conteúdo no topo */
    gap: 20px; /* Espaço entre o texto e o vídeo */
}

.h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1 h1 {
    color: rgb(255, 255, 255);
    font-size: 65px;
    margin-left: 160px;
    font-family: "Domine", serif;
    font-weight: 300;
}

.box-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}

.box-p p {
    width: 490px;
    color: rgba(255, 255, 255, 0.904);
    font-size: 19px;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    font-weight: 200;
}

.video-trailer {
    flex-shrink: 0; /* Garante que o vídeo não encolherá */
    align-self: center; /* Centraliza o vídeo verticalmente */
    margin-left: 115px;
}
